/* h1{
    text-align: center;
    font-weight: bold;
    color: #000;
    padding: 10px;
    margin-bottom: 20px;
} */

.column{
    float: left;
    width: 24.9%;
    /* padding: 0 8px; */
    /* margin-bottom: 16px; */
    /* height: 250px; */

    margin: 10px 0 ;
    height: 210px;
    padding: 0 4px;
    /* width: 25%; */
    /* background-color: red; */
    /* cursor: pointer; */
}
.card{
    /* padding: 0 16px; */
    text-align: center;
    background-color: white;
    /* margin: 5px; */
    width: 100%;
    /* border-radius: 50%; */
    /* background-color: red; */
}

.cardImg{
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
    
    height: 160px;
    width: 100%;
}

.card img{
    /* width: 58%;
    height: 18%; */
    /* background-color: white; */
    /* border-radius: 10%; */
    
    width: 35%;
    height: 80%;
}

.typeListContainer{
    text-align: left;
}


/* .cardBackground{
    background-color: crimson;
    height: 150px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
} */


/* .shortDescrip{
    font-size: 13px;
} */
.listButton {
    padding: 5px 15px;
    text-align: left;
    border: none;
    background-color:  crimson;
    color: black;
}
.listButton:hover {
    background-color: black;
    color: white;
}
.column:hover{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3); */
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.3),  -4px -5px 10px rgba(0, 0, 0, 0.3)
}

